<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >

  <variable name="exception_summary" value="${onexception:EXCEPTION OCCURRED\: ${exception:format=ShortType,Message}" />
  <variable name="exceptions_detail" value="${exception:format=Type,Message,ShortType,ToString,Method,Data,StackTrace:maxInnerExceptionLevel=6:innerFormat=Type,Message,ShortType,ToString,Method,Data,StackTrace}" />
  <variable name="standard_layout" value="${pad:padding=5:inner=${level:uppercase=true}} | ${message} | ${exception_summary}"/>

  <targets>
    <target xsi:type="Memory" name="memory" layout="${standard_layout} ${exceptions_detail}" />
    <target xsi:type="Debugger" name="debugger" layout="${standard_layout} ${exceptions_detail}" />
    <target xsi:type="ColoredConsole" name="console" layout="${standard_layout} ${exceptions_detail}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="debugger,memory,console" />
  </rules>
</nlog>
